@import url(./_theme_white/header__name-project_theme_white.css);

.header__name-project {
  color: #FFF;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.25em;
  line-height: 24px;
  font-weight: bold;
}