@import url(./__circle-preloader/loading__circle-preloader.css);
@import url(./__text/loading__text.css);
@import url(./_active/loading_active.css);

.loading {
  max-width: 1440px;
  height: 282px;
  position: relative;
  margin: auto;
  display: none;
}

@media screen and (max-width: 767px) {
  .loading {
    height: 200px;
  }
}