.result__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px 16px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .result__cards {
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px 8px;
  }
}