@import url(./_theme_white/header__navigation-container_theme_white.css);
@import url(./_mobile-active/header__navigation-container_mobile-active.css);

.header__navigation-container {
  display: flex;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .header__navigation-container {
    display: none;
  }
}