{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", {
        "allowAfterThis": true,
        "allowAfterSuper": true,
        "allow": ["_id"]
      }],
    "no-restricted-globals": ["off", "event"]
  },
  "env": {
    "browser": true
  }
}