@import url(./_active/popup__button_active.css);

.popup__button {
  margin-top: 39px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #E6E8EB;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 24px;
  color: #B6BCBF;
}