.search__button {
  background-color: #2F71E5;
  position: absolute;
  padding: 21px 54px;
  font-size: 1.125em;
  line-height: 24px;
  top: -1px;
  right: -1px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
}

.search__button:hover {
  cursor: pointer;
}