.footer__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #B6BCBF;
  font-size: 1em;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .footer__text {
    order: 1;
  }
}