.saved-articles__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
  padding-bottom: 28px;
}

@media screen and (max-width: 1025px) {
  .saved-articles__title {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 16px;
  }
}