.news-card__button-description {
  background-color: #FFF;
  border-radius: 8px;
  padding: 14px 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.625em;
  line-height: 12px;
  position: absolute;
  top: 24px;
  right: 70px;
}

@media screen and (max-width: 1025px) {
  .news-card__button-description {
    top: 10px;
    right: 55px;
    padding: 14px 3px;
  }
}