.saved-articles__subtitle {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 46px;
  color: #1A1B22;
  margin: 0;
  padding-bottom: 30px;
  max-width: 530px;
}