.search__field {
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  width: 100%;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1em;
  line-height: 1.37;
  height: 64px;
  box-sizing: border-box;
  padding-left: 20px;
}