.page {
  background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1025px) {
  .page {
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash_1025px.jpg);
  }
}