@import url(./__container/footer__container.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__text/footer__text.css);

.footer {
  background-color: #FFF;
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 16px 0px;
    box-sizing: border-box;
  }
}