.result__show-more {
  background-color: #FFF;
  border-radius: 80px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 24px;
  padding: 18px 84px 22px;
  display: flex;
  align-self: center;
  margin-top: 64px;
}

.result__show-more:hover {
  opacity: .9;
}
