.header.header_mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  align-items: flex-start;
}

.header__content {
  width: 100%;
}