@import url(./__container/result__container.css);
@import url(./__title/result__title.css);
@import url(./__cards/result__cards.css);
@import url(./__show-more/result__show-more.css);

.result {
  margin: auto;
  max-width: 1440px;
  font-size: 16px;
  padding-bottom: 102px;
}