.about__container {
  width: 60%;
  margin: 0;
  padding-top: 50px;
  padding-left: 56px;
}

@media screen and (max-width: 1025px) {
  .about__container {
    padding-left: 32px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 660px) {
  .about__container {
    width: 100%;
  }
}


@media screen and (max-width: 660px) {
  .about__container {
    padding-top: 20px;
    padding-left: 0px;
  }
}