@import url(./_theme_white/header__container_theme_white.css);

.header__container {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  .header__container {
    width: 90%;
  }
}

@media screen and (max-width: 1025px) {
  .header__container {
    margin: 0 auto;
  }
}