.footer__container {
  width: 86%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1025px) {
.footer__container {
  width: 90%;
}
}