@media screen and (max-width: 767px) {
  .header__navigation-button {
    width: 30px;
    height: 30px;
    position: relative;
    box-sizing: border-box;
    transition: all .5s;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0px;
    z-index: 1;
  }
  .header__navigation-button::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    content: "";
    display: block;
    height: 3px;
    background: #FFF;
    transition: transform .5s, width 2s;
  }
  .header__navigation-button::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    display: block;
    height: 3px;
    background: #FFF;
    transition: all .5s;
  }
  .header__navigation-button:active::after {
    content: "";
    display: block;
    width: 100%;
    transform: rotate(-45deg);
    background: #FFF;
    top: 100%;
    margin-top: -55%;
    left: 0;
    margin-left: -0%;
  }
  .header__navigation-button:active::before {
    content: "";
    display: block;
    width: 100%;
    transform: rotate(45deg);
    background: #FFF;
    top: 100%;
    margin-top: -55%;
    left: 0;
    margin-left: 0%;
  }
}


@media screen and (max-width: 426px) {
  .header__navigation-button {
    width: 16px;
    height: 16px;
  }
  .header__navigation-button::before {
    height: 2px;
  }
  .header__navigation-button::after {
    height: 2px;
}
}